body {
  margin: 0;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

a {
  color: black;
  text-decoration: none;
}

.navbar {
  background: white;
  padding: 20px;
  display : inline-block;
}

.navbar a {
  margin-right: 30px;
  text-decoration: none;
}

.p-20 {
  padding: 20px;
}

input {
  box-sizing: border-box;
  padding: 10px;
  display: block;
  margin-bottom: 10px;
}

button, .button {
  padding: 10px 15px;
  background: lightgray;
  border: none;
  border-radius: 5px;
}

.navBtn{
  margin-top : 30px;
}
.updateBtn {
  background-color: black;
  color : white;
  border : 1px solid black;
  width : 100px;
  font-size : 1.5em;
}

